body {
  background-image: url(../public/images/bgGame.png);
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
.flex {
  position: relative;
}
.choosen::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 40%;
  width: 0;
  height: 0;
  border-top: 20px solid rgb(45 212 191);
  border-right: 20px solid transparent;
}
